{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
						{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}

			{{ range .service_item}}
			{{"<!-- Single Service Item -->" | safeHTML }}
			<article class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-duration="500ms">
				<button class="block" style="margin-right:5px;margin-left:5px; padding-right: 0px; padding-left: 0px; padding-top: 0px;padding-bottom: 0px;">
					<a href="{{.link}}">
						<div class="service-block text-center" style="border-left: 0; border-top: 0; margin-bottom: 0; box-shadow: 0 0 0;" href="#{{ .link}}">
							<div class="service-icon text-center">
								<i class="{{ .icon }}"></i>
							</div>
							<h3>{{ .name | markdownify }}</h3>
							<p>{{ .content | markdownify }}</p>
						</div>
					</a>
				</button>
			</article>
			{{"<!-- End Single Service Item -->" | safeHTML }}
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
